/*---------------------------------------------------------------------- /
custom styles for cart!
------------------------------------------------------------------------ */
.empty-cart {
  min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999999;
}

.empty-cart i {
  font-size: 80px;
}

.checkout {

}






/*---------------------------------------------------------------------- /
custom styles for product list!
------------------------------------------------------------------------ */
.card {
  height: 230px;
}

button.add-to-cart {
  border-radius: 25px;
}

.product-item-card {
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
}
