/*---------------------------------------------------------------------- /
Cart
------------------------------------------------------------------------ */
.empty-cart {
  min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999999;
}

.empty-cart i {
  font-size: 80px;
}

.checkout {

}

.cart-header {
  display: flex;
  justify-content: space-between;
}

/*---------------------------------------------------------------------- /
Product list
------------------------------------------------------------------------ */
.card {
  height: 230px;
}

button.add-to-cart {
  border-radius: 25px;
}

.product-item-card {
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
}

/*---------------------------------------------------------------------- /
Product
------------------------------------------------------------------------ */
.product-details {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.remaining {
 color: #999999;
}

/*---------------------------------------------------------------------- /
Cart Product
------------------------------------------------------------------------ */
.cart-product {
  display: flex;
}

.left-cart-product img {
  margin-right: 10px;
}

.right-cart-product {
  flex-grow: 1;
}




.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.btn-remove {
  color: red;
}

.cart-actions {

}

.qty-update {
  display: flex;
}

.btn-minus {
  background-color: #eeeeee;
  border-radius: 25px 0 0 25px;
  width: 70px;
}

.input-qty {
  width: 70px !important;
  border: 1px solid #eeeeee !important;
  margin: 0 !important;
  padding: 0 4px !important;
  outline: none !important;
  box-shadow: none !important;
  height: 34px !important;
  text-align: center;
}

.input-qty:focus {

}

.btn-plus {
  background-color: #eeeeee;
  border-radius: 0 25px 25px 0;
  width: 70px;
}


/*---------------------------------------------------------------------- /
App and etc
------------------------------------------------------------------------ */

body {
  background: #F4F5F7;
  color:#333;
}

hr {
  border: 0;
  border-top: 1px solid #D8D8D8;
}

.logo-part {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px;
}

.logo-part h2 {
  margin: 0;
}

.cart-part {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
}

.cart-link {
  color:#333;
  display: flex;
}

.cart-link i {
  margin-right: 5px;
}

.modal {
  box-shadow: none;
  outline: none;
  background-color: white;
}



/*small screen views */
  @media (max-width: 600px) {

  .logo-part {
    justify-content: center;
    height: 100px;
  }

  .logo-part h2 {
    font-size: 40px;
  }

  .cart-part {
    justify-content: center;
    height: 50px;
  }

  .modal {
      width: 100%;
      top: 0 !important;
      max-height: 100%;
      height: 100%;
      border-radius: 0 !important;
    }
}
