/*---------------------------------------------------------------------- /
custom styles for cart!
------------------------------------------------------------------------ */
.empty-cart {
  min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999999;
}

.empty-cart i {
  font-size: 80px;
}

.checkout {

}

.cart-header {
  display: flex;
  justify-content: space-between;
}

/*---------------------------------------------------------------------- /
custom styles for product list!
------------------------------------------------------------------------ */
.card {
  height: 230px;
}

button.add-to-cart {
  border-radius: 25px;
}

.product-item-card {
  margin-top: 25px;
  border-radius: 8px;
  overflow: hidden;
}


/*---------------------------------------------------------------------- /
custom styles for App and etc!
------------------------------------------------------------------------ */

body {
  background: #F4F5F7;
  color:#333;
}

hr {
  border: 0;
  border-top: 1px solid #D8D8D8;
}

.logo-part {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100px;
}

.logo-part h2 {
  margin: 0;
}

.cart-part {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100px;
}

.cart-link {
  color:#333;
  display: flex;
}

.cart-link i {
  margin-right: 5px;
}

.modal {
  box-shadow: none;
  outline: none;
  background-color: white;
}


/*---------------------------------------------------------------------- /
custom style for images
note: because we're mapping the product from an array, each item can't pull the image from the source
------------------------------------------------------------------------ */
/*.img-chrono {
  max-width: 100%;
  height: auto;
  image: url('../../public/images/chronograph.png')

  .img-quartz {
    max-width: 100%;
    height: auto;
    image: url('../../public/images/chronograph.png')

  .img-quartz {
    max-width: 100%;
    height: auto;
    image: url('../../public/images/weekender.png')

}*/
