/*---------------------------------------------------------------------- /
CSS FOR STORE/ITEM/PRODUCT PAGE
------------------------------------------------------------------------ */


.button {
  height: 41px;
  width: 139px;
  border-radius: 100px;
  background-color: #5E97D1;
}
